@media (max-width: 1610px) {
  .about .about__main_text {
    font-size: 35px;
  }
  .about .about__main_gradient {
    font-size: 35px;
    z-index: 9999;
  }
  .about .about__main_desr {
    font-family: LatoLight;
    margin-top: 15px;
    font-size: 20px;
    max-width: 420px;
    width: 100%;
  }
  .about .about__main_image img {
    max-width: 380px;
    left: 0;
  }
  .about .about__right_img {
    width: 400px;
  }
}

@media (max-width: 1400px) {
  .about .about__main_image {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .about .about__right_img {
    display: none;
  }
  .about .about__main_image--animate {
    width: 500px;
    margin-left: 5% !important;
  }
  .about .about__menu_link a {
    font-size: 14px;
  }
  .specialize .specialize__services--container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .specialize .specialize__item.specialize__item {
    width: calc(35% - 2px);
  }
  .statistics .statistics__item_number-one {
    font-size: 60px;
  }
  .statistics .statistics__item_number-two {
    font-size: 60px;
  }
  .statistics .statistics__item_number-three {
    font-size: 60px;
  }
  .statistics .statistics__item_number-four {
    font-size: 60px;
  }
  .team .team__main--container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .team .team__item {
    margin-top: 30px;
  }
  .team .team__main--container-two {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
  }
  #test-modal-3 {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .specialize__item:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#A065F3), to(#6D82FC));
    background: linear-gradient(#A065F3, #6D82FC);
    cursor: pointer;
  }
  .specialize__item:hover .specialize__item--blue {
    background: rgba(255, 255, 255, 0.2);
  }
  .specialize__item:hover .specialize__item--violet {
    background: rgba(255, 255, 255, 0.2);
  }
  .specialize__item:hover .specialize__item--green {
    background: rgba(255, 255, 255, 0.2);
  }
  .specialize__item:hover .specialize__item--orange {
    background: rgba(255, 255, 255, 0.2);
  }
  .specialize__item:hover .specialize__item_title {
    color: #fff;
  }
  .specialize__item:hover .specialize__item_desr {
    color: #fff;
  }
  .specialize__item:hover .specialize__item_arrow {
    color: #fff;
  }
  .specialize__item:hover svg path {
    fill: #fff;
  }
  .specialize__item:hover .specialize__arrow {
    width: 120%;
  }
  .specialize__item:hover .specialize__arrow .specialize__arrow_line {
    fill: #fff;
  }
  .specialize__item:hover .specialize__arrow .specialize__arrow_triangle {
    stroke: #fff;
  }
}

@media (max-width: 992px) {
  .about {
    padding-bottom: 80px;
  }
  .about .about__logo {
    top: 40px;
    margin-left: 50px;
    z-index: 22;
  }
  .about .about__logo_big {
    height: auto;
  }
  .about .about__logo_big {
    width: 120px;
  }
  .about .about__menu {
    z-index: 0;
  }
  .about .about__btn {
    z-index: 20;
  }
  .about .about__main {
    margin-left: 0;
  }
  .about .about__main_text {
    z-index: 0;
  }
  .about .about__main--container {
    margin-top: 60px;
    width: 90%;
    z-index: 0;
  }
  .about .about__main_desr {
    text-align: left;
    font-size: 16px;
  }
  .about .about__main_image--animate {
    display: none;
  }
  .about .about__right_image {
    display: none;
  }
  .about .about__main_image {
    margin-left: 0;
    height: 550px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .about__main_image img {
    top: 35%;
    max-width: 280px;
    left: 0;
    z-index: 0;
  }
  .about .about__circle--blue {
    z-index: 0;
  }
  .about .about__circle_violet {
    z-index: 0;
  }
  .specialize .specialize__title {
    margin-top: 50px;
  }
  .specialize .specialize--container {
    max-width: 95%;
  }
  .specialize .specialize__item.specialize__item {
    width: calc(36% - 2px);
    height: auto;
    padding-left: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .specialize .specializeHover:hover {
    background-color: transparent;
  }
  .specialize .specialize__services--container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .study {
    padding-bottom: 80px;
  }
  .study .study--container {
    max-width: 90%;
  }
  .study .study__case--container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 25px;
  }
  .study .study__desr {
    margin-bottom: 15px;
  }
  .study .study__case_item--left {
    width: 100%;
  }
  .study .study__case_item--right {
    width: 100%;
    padding-left: 0;
    height: auto;
  }
  .study .study__case_title {
    margin-top: 15px;
  }
  .study .study__case_desr {
    max-width: 100%;
  }
  .study .study__case_item--left-two {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .study .study__case_item--right-two {
    width: 100%;
    height: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-right: 0;
  }
  .study .study__case_desr-two {
    max-width: 100%;
    text-align: left;
  }
  .study .study__arrow--left {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .study .study_btn {
    margin-top: 60px;
  }
  .statistics {
    padding-bottom: 80px;
  }
  .statistics .statistics--container {
    max-width: 90%;
  }
  .statistics .statistics__main--container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .statistics .statistics__item {
    width: calc(50% - 2px);
    margin-left: 0;
  }
  .statistics .statistics__item_number-one {
    font-size: 28px;
  }
  .statistics .statistics__item_number-two {
    font-size: 28px;
  }
  .statistics .statistics__item_number-three {
    font-size: 28px;
  }
  .statistics .statistics__item_number-four {
    font-size: 28px;
  }
  .statistics .statistics__item_desr {
    max-width: 100px;
  }
  .team {
    padding-bottom: 80px;
  }
  .team .team--container {
    max-width: 90%;
  }
  .team .team__main--container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
  }
  .team .team__main--container-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .team .team__item {
    width: 70%;
    margin-left: 0;
    margin-top: 30px;
    height: auto;
    padding-bottom: 30px;
  }
  .question {
    padding-bottom: 80px;
  }
  .question .question--container {
    max-width: 90%;
  }
  .question .question-form--container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .question .question-form--container label {
    margin-top: 25px;
  }
  .question .question__group {
    width: 90%;
  }
  .question .question-form--container-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .question .question__group-texterea {
    width: 90%;
  }
  .question .question__group--file {
    width: 90%;
    margin-top: 25px;
    padding-bottom: 25px;
  }
  .question .question__right_image {
    display: none;
  }
  .question .question-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .question .question_btn {
    margin-top: 50px;
  }
  .contact .contact--container {
    max-width: 90%;
  }
  .contact .contact__main--container {
    margin-top: 0;
  }
  .contact .contact__figure {
    display: none;
  }
  .contact .contact__main--container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact .contact__item {
    width: calc(35% - 2px);
    margin-top: 30px;
  }
  .contact .contact__item_phone {
    font-size: 12px;
  }
  .contact .contact__item_phone--mt {
    margin-top: 15px;
    font-size: 12px;
  }
  .contact .contact__item_desr {
    font-size: 12px;
  }
  .contact .contact__item_email {
    font-size: 12px;
  }
  #menuToggle {
    position: absolute;
    top: 14px;
    left: 50px;
    right: 0;
    z-index: 1;
  }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #000;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menuToggle span:first-child {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-2px, -1px);
            transform: rotate(45deg) translate(-2px, -1px);
    background: #fff;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(0, -1px);
            transform: rotate(-45deg) translate(0, -1px);
  }
  .about__menu {
    position: fixed;
    width: 100%;
    margin-top: -90px;
    margin-left: -50px;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#535358), to(#323239));
    background: linear-gradient(180deg, #535358 0%, #323239 100%);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    z-index: 9999;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__menu li {
    padding: 20px 0 !important;
  }
  .about__menu li a {
    color: #fff !important;
  }
  #menuToggle input:checked ~ ul {
    -webkit-transform: none;
            transform: none;
  }
}

@media (max-width: 768px) {
  #test-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: auto;
    border-radius: 0px;
  }
  #test-modal .specialize__modal_img {
    border-radius: 0px;
    height: 50%;
  }
  #test-modal .specialize__modal_desr {
    overflow: scroll;
    height: 150px;
  }
  #test-modal-2 {
    width: 85%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: auto;
    border-radius: 0px;
  }
}
/*# sourceMappingURL=media.css.map */