@media (max-width: 1610px) {
  .about .about__main_text {
    font-size: 35px;
  }
  .about .about__main_gradient {
    font-size: 35px;
    z-index: 9999;
  }
  .about .about__main_desr {
    font-family: LatoLight;
    margin-top: 15px;
    font-size: 20px;
    max-width: 420px;
    width: 100%;
  }
  .about .about__main_image img {
    max-width: 380px;
    left: 0;
  }
  .about .about__right_img {
    width: 400px;
  }
}

@media (max-width: 1400px) {
  .about .about__main_image {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .about .about__right_img {
    display: none;
  }
  .about .about__main_image--animate {
    width: 500px;
    margin-left: 5% !important;
  }
  .about .about__menu_link a {
    font-size: 14px;
  }
  .specialize .specialize__services--container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .specialize .specialize__item.specialize__item {
    width: calc(35% - 2px);
  }
  .statistics .statistics__item_number-one {
    font-size: 60px;
  }
  .statistics .statistics__item_number-two {
    font-size: 60px;
  }
  .statistics .statistics__item_number-three {
    font-size: 60px;
  }
  .statistics .statistics__item_number-four {
    font-size: 60px;
  }
  .team .team__main--container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .team .team__item {
    margin-top: 30px;
  }
  .team .team__main--container-two {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
  }
}

@media (max-width: 992px) {
  .about {
    padding-bottom: 80px;
  }
  .about .about__logo {
    top: 0;
  }
  .about .about__logo_big {
    height: auto;
  }
  .about .about__menu {
    display: none;
  }
  .about .about__menu {
    opacity: 0;
    left: -200px;
    position: fixed;
    -webkit-transition: all .4s;
    transition: all .4s;
    top: 100px;
    z-index: 101;
    height: auto;
  }
  .about .about__menu.active {
    left: 0;
    opacity: 1;
  }
  .about .menu-wrapper {
    display: block;
  }
  .about .about__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .about__btn {
    z-index: 20;
  }
  .about .about__main {
    margin-left: 0;
  }
  .about .about__main--container {
    margin-top: 60px;
    width: 90%;
  }
  .about .about__main_desr {
    text-align: left;
    font-size: 16px;
  }
  .about .about__main_image--animate {
    display: none;
  }
  .about .about__right_image {
    display: none;
  }
  .about .about__main_image {
    margin-left: 0;
    height: 550px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .about__main_image img {
    top: 35%;
    max-width: 280px;
    left: 0;
  }
  .specialize .specialize__title {
    margin-top: 50px;
  }
  .specialize .specialize--container {
    max-width: 95%;
  }
  .specialize .specialize__item.specialize__item {
    width: calc(36% - 2px);
    height: auto;
    padding-left: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .specialize .specializeHover:hover {
    background-color: transparent;
  }
  .specialize .specialize__services--container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .study {
    padding-bottom: 80px;
  }
  .study .study--container {
    max-width: 90%;
  }
  .study .study__case--container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 25px;
  }
  .study .study__desr {
    margin-bottom: 15px;
  }
  .study .study__case_item--left {
    width: 100%;
  }
  .study .study__case_item--right {
    width: 100%;
    padding-left: 0;
    height: auto;
  }
  .study .study__case_title {
    margin-top: 15px;
  }
  .study .study__case_desr {
    max-width: 100%;
  }
  .study .study__case_item--left-two {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .study .study__case_item--right-two {
    width: 100%;
    height: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-right: 0;
  }
  .study .study__case_desr-two {
    max-width: 100%;
    text-align: left;
  }
  .study .study__arrow--left {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .study .study_btn {
    margin-top: 60px;
  }
  .statistics {
    padding-bottom: 80px;
  }
  .statistics .statistics--container {
    max-width: 90%;
  }
  .statistics .statistics__main--container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .statistics .statistics__item {
    width: calc(50% - 2px);
    margin-left: 0;
  }
  .statistics .statistics__item_number-one {
    font-size: 28px;
  }
  .statistics .statistics__item_number-two {
    font-size: 28px;
  }
  .statistics .statistics__item_number-three {
    font-size: 28px;
  }
  .statistics .statistics__item_number-four {
    font-size: 28px;
  }
  .statistics .statistics__item_desr {
    max-width: 100px;
  }
  .team {
    padding-bottom: 80px;
  }
  .team .team--container {
    max-width: 90%;
  }
  .team .team__main--container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
  }
  .team .team__main--container-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .team .team__item {
    width: 70%;
    margin-left: 0;
    margin-top: 30px;
    height: auto;
    padding-bottom: 30px;
  }
  .question {
    padding-bottom: 80px;
  }
  .question .question--container {
    max-width: 90%;
  }
  .question .question-form--container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .question .question-form--container label {
    margin-top: 25px;
  }
  .question .question__group {
    width: 90%;
  }
  .question .question-form--container-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .question .question__group-texterea {
    width: 90%;
  }
  .question .question__group--file {
    width: 90%;
    margin-top: 25px;
    padding-bottom: 25px;
  }
  .question .question__right_image {
    display: none;
  }
  .question .question-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .question .question_btn {
    margin-top: 50px;
  }
  .contact .contact--container {
    max-width: 90%;
  }
  .contact .contact__main--container {
    margin-top: 0;
  }
  .contact .contact__figure {
    display: none;
  }
  .contact .contact__main--container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact .contact__item {
    width: calc(35% - 2px);
    margin-top: 30px;
  }
  .contact .contact__item_phone {
    font-size: 12px;
  }
  .contact .contact__item_phone--mt {
    margin-top: 15px;
    font-size: 12px;
  }
  .contact .contact__item_desr {
    font-size: 12px;
  }
  .contact .contact__item_email {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  #test-modal {
    width: 90%;
    height: auto;
  }
  #test-modal-2 {
    width: 60%;
    height: auto;
  }
}
/*# sourceMappingURL=media.css.map */