*
    padding: 0
    margin: 0
    outline: none

$colorBlack: #2F2F2F

@font-face
    font-family: LatoLight
    font-weight: 300
    src: url('../fonts/Lato-Light.ttf')
@font-face
    font-family: LatoSemiBold
    font-weight: 600
    src: url('../fonts/Lato-Semibold.ttf')

@font-face
    font-family: LatoBold
    font-weight: 900
    src: url('../fonts/Lato-Bold.ttf')

.about 
    background-color: #ffffff
    height: auto
    position: relative
    padding-bottom: 150px
    & .about__circle 
        width: 386px
        height: 386px
        border-radius: 50%
        background: #FBFBFB
        box-shadow: 5px 0px 60px rgba(92, 92, 92, 0.18)
        position: absolute
        top: -75px
        left: -129px
        display: flex
        justify-content: center
        align-items: center
    & .about__circle_small
        background: linear-gradient(153.86deg, #FF4949 -35.46%,   #FF7E46 91.77%)
        box-shadow: 5px 4px 40px rgba(210, 96, 31, 0.44)
        width: 70px
        height: 70px
        left: 50px
        border-radius: 50%
    & .about__circle--blue
        position: absolute
        left: 0 
        bottom: -100px
        z-index: 3
    & .about__circle__white
        position: absolute
        left: -10px
        bottom: -20px
        width: 107.13px
        height: 107.13px
        left: -7.94px
        background: #FBFBFB
        box-shadow: 5px 0px 40px rgba(92, 92, 92, 0.1)
        transform: rotate(1.1deg)
        border-radius: 50%
        z-index: 1
    & .about__circle_violet
        position: absolute
        width: 35.6px
        height: 35.31px
        bottom: 150px
        left: 100px
        border-radius: 50%
        background: linear-gradient(261.8deg, #A4BDFF -13.6%, #C182FF 113.63%)
        box-shadow: -4px 4px 20px rgba(179, 159, 255, 0.28)
        transform: rotate(-10.02deg)
        z-index: 9999
    & .about__logo
        position: absolute
        top: -30px
        margin-left: -50px
        font-family: LatoSemiBold
        text-transform: uppercase
    & .about__logo_big
        width: 220px

        height: 250px

    & .about--container
        max-width: 85%
        margin: 0 auto
    & .about__header
        display: flex
        flex-direction: row
        justify-content: flex-end
        margin-top: 40px
    & .about__header--left
        display: flex
        align-items: center
    & .about__header--right
        display: flex
        align-items: center
    & .about__menu
        display: flex
        z-index: 15
    & .about__menu_link
        list-style: none
        padding: 0px 25px 0px 25px
        a 
            text-decoration: none
            color: $colorBlack
            text-transform: uppercase
            padding-bottom: 10px
            transition: 250ms
            font-family: LatoSemiBold
        a:hover
            border-bottom: 2px solid #4FDFFF
    & .about__btn
        width: 180px
        height: 50px
        border-radius: 25px
        border: none
        color: #ffffff
        text-transform: uppercase
        background: linear-gradient(152.28deg, #6FC1FC 4.84%, #593EFF 104.93%)
        border-radius: 100px
        font-family: LatoBold
        font-size: 16px
        text-decoration: none
        display: flex
        justify-content: center
        align-items: center
    & .about__main--container
        width: 60%
        z-index: 5
        position: absolute
        margin-top: 120px
    & .about__main_text
        color: $colorBlack
        font-size: 65px
        z-index: 5
        font-family: LatoBold
    & .about__main_desr
        font-family: LatoLight
        margin-top: 15px
        font-size: 22px
    & .about__main_gradient
        color: #FF4E6E
        font-size: 65px
    & .about__main_image
        height: 650px
        display: flex
        justify-content: center
        align-items: center
        margin-left: 80px
        img 
            max-width: 650px
            transform: rotate(15deg)
            position: relative
            left: 20%
            z-index: 5
        & .about__main_image--animate
            position: absolute
            margin-top: 30px
            z-index: 10
            margin-left: 15%
    & .about__right_image
        position: absolute
        top: 10%
        right: 0
        & .about__right_figure
            transform: rotate(25deg)
    & .about__right_img
        width: 600px
        z-index: 1
.specialize
    height: auto
    padding-bottom: 100px
    & .specialize--container
        max-width: 80%
        margin: 0 auto
    & .specialize__title
        color: $colorBlack
        text-align: center
        text-transform: uppercase
        font-family: LatoBold
        font-size: 36px
    & .specialize__title_gradient
        background: linear-gradient(#6F81FC, #A264F3)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
    & .specialize__desr
        max-width: 650px
        margin: 0 auto
        text-align: center
        margin-top: 20px
        font-size: 18px
        font-family: LatoLight
    & .specialize__arrow
        margin-top: 30px
        transition: 600ms
    & .specialize__arrow_triangle
        fill: transparent
    & .specialize__services--container
        display: flex
        flex-direction: row
        margin-top: 80px
        justify-content: space-between
    & .specialize__item
        height: 200px
        width: calc(25% - 2px)
        padding: 30px 35px 35px 30px
        border-radius: 20px
    & .specialize__item:hover
        background: linear-gradient(#A065F3, #6D82FC)
        cursor: pointer
        & .specialize__item--blue
            background: rgba(255, 255, 255, 0.2)
        & .specialize__item--violet
            background: rgba(255, 255, 255, 0.2)
        & .specialize__item--green
            background: rgba(255, 255, 255, 0.2)
        & .specialize__item--orange
            background: rgba(255, 255, 255, 0.2)
        & .specialize__item_title
            color: #fff
        & .specialize__item_desr
            color: #fff
        & .specialize__item_arrow
            color: #fff
        svg
            path 
                fill: #fff
        & .specialize__arrow
            width: 120%
            & .specialize__arrow_line
                fill: #fff
            & .specialize__arrow_triangle
                stroke: #fff
    & .specialize__item--blue
        height: 55px
        width: 55px
        background-color: rgba(84, 189, 255, 0.10)
        display: flex
        align-items: center
        justify-content: center
    & .specialize__item--violet
        height: 55px
        width: 55px
        background-color: rgba(255,33,206, 0.10)
        display: flex
        align-items: center
        justify-content: center
    & .specialize__item--green
        height: 55px
        width: 55px
        background-color: rgba(7,255,225, 0.10)
        display: flex
        align-items: center
        justify-content: center
    & .specialize__item--orange
        height: 55px
        width: 55px
        background-color: rgba(255,168,104, 0.10)
        display: flex
        align-items: center
        justify-content: center
    & .specialize__item_title
        margin-top: 15px
        font-family: LatoBold
        text-transform: uppercase
    & .specialize__item_desr
        margin-top: 15px
        font-family: LatoLight
    & .specialize__item_arrow
        margin-top: 30px
.technologies
    height: auto
    padding-bottom: 150px
    & .technologies--container
        max-width: 80%
        margin: 0 auto
    & .technologies__title
        text-align: center
        text-transform: uppercase
        color: $colorBlack
        font-family: LatoBold
        font-size: 36px
    & .technologies__title_gradient
        background: linear-gradient(#FC6FE5, #F36464)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
    & .technologies__desr
        max-width: 650px
        margin: 0 auto
        text-align: center
        margin-top: 20px
        font-size: 18px
        font-family: LatoLight
    & .technologies--slider
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        margin-top: 80px
    & .technologies_btn
        margin: 0 auto
        display: flex
        width: 180px
        height: 50px
        background-color: red
        border: none
        justify-content: center
        color: #ffffff
        text-transform: uppercase
        background: linear-gradient(333.5deg, #6F81FC 0%, #A264F3 108.57%)
        border-radius: 100px
        margin-top: 80px
        font-family: LatoBold
        letter-spacing: 0.05em

.study
    height: auto
    padding-bottom: 150px
    position: relative
    .study__circle
        width: 186px
        height: 186px
        border-radius: 50%
        background: linear-gradient(336.74deg, #4BFFBE -22.33%, #6F4BFF 119.11%)
        box-shadow: 0px 4px 30px rgba(94, 180, 243, 0.75)
        top: 0
        z-index: -1
        position: absolute
        left: -90px
    & .study--container
        max-width: 85%
        margin: 0 auto
    & .study__title
        text-align: center
        text-transform: uppercase
        color: $colorBlack
        font-family: LatoBold
        font-size: 36px
    & .study__title_gradient
        background: linear-gradient(#F96FFC, #64AEF3)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
    & .study__desr
        max-width: 650px
        margin: 0 auto
        text-align: center
        margin-top: 20px
        font-size: 18px
        font-family: LatoLight
        margin-bottom: 80px
    & .study__case--container
        display: flex
        justify-content: space-between
        margin-top: 50px
    & .study__case_item--left
        display: flex
        width: calc(50% - 2px)
        height: 450px
        background: linear-gradient(321.48deg, #FF4C4C -2.82%, #FF8C68 87.91%)
        border-radius: 20px
    & .study__case_item--right
        display: flex
        width: calc(50% - 2px)
        height: 450px
        padding-left: 10%
        flex-direction: column
        align-items: flex-start
        justify-content: center
    & .study__arrow--right
        margin-top: 30px
    & .study__arrow--left
        margin-top: 30px
        transform: rotate(180deg)
    & .study__case_title
        background: linear-gradient(#FF4CAD, #704CFF)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        text-transform: uppercase
    & .study__case_desr
        max-width: 65%
        margin-top: 30px
    & .study_case_arrow
        margin-top: 30px
    & .study__case_item--left-two
        display: flex
        width: calc(50% - 2px)
        height: 450px
        background: linear-gradient(321.48deg, #FF4C4C -2.82%, #FF8C68 87.91%)
        border-radius: 20px
        order: 2
    & .study__case_item--right-two
        display: flex
        width: calc(50% - 2px)
        height: 450px
        padding-right: 10%
        flex-direction: column
        align-items: flex-end
        justify-content: center
        order: 1
    & .study__case_title
        background: linear-gradient(#FF4CAD, #704CFF)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        text-transform: uppercase
        font-family: LatoBold
    & .study__case_desr
        max-width: 65%
        margin-top: 30px
        font-family: LatoLight
    & .study_case_arrow
        margin-top: 30px
    & .study__button
        text-align: center
    & .study__button_n
        margin: 0 auto
        width: 180px
        height: 50px
        background-color: red
        border: none
        color: #ffffff
        text-transform: uppercase
        background: linear-gradient(333.5deg, #6F81FC 0%, #A264F3 108.57%)
        border-radius: 100px
        border-radius: 25px
        margin-top: 80px
        font-family: LatoBold
        letter-spacing: 0.05em
    & .study__case_desr-two
        max-width: 65%
        margin-top: 30px
        font-family: LatoLight
        text-align: right
    
.statistics
    height: auto
    padding-bottom: 150px
    & .statistics--container
        max-width: 85%
        margin: 0 auto
    & .statistics__title
        text-align: center
        text-transform: uppercase
        color: $colorBlack
        font-family: LatoBold
        font-size: 36px
    & .statistics__title_gradient
        background: linear-gradient(#F96FFC, #64AEF3)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
    & .statistics__desr
        max-width: 650px
        margin: 0 auto
        text-align: center
        margin-top: 20px
        font-size: 18px
        font-family: LatoLight
    & .statistics__main--container
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-top: 50px
    & .statistics__item
        width: calc(25% - 2px)
        margin-left: 80px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
    & .statistics__item_number-one
        background: linear-gradient(#FE4F47, #FFB628)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        font-size: 100px
        font-family: LatoBold
        text-align: center
    & .statistics__item_number-two
        background: linear-gradient(#615EFF, #FF28E9)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        font-size: 100px
        font-family: LatoBold
        text-align: center
    & .statistics__item_number-three
        background: linear-gradient(#28D8FF, #47D615)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        font-size: 100px
        font-family: LatoBold
        margin-top: 18px
        text-align: center
    & .statistics__item_number-four
        background: linear-gradient(#6E97FF, #AD49FC)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        font-size: 100px
        font-family: LatoBold
    & .statistics__item_desr
        max-width: 220px
        text-align: center
        font-family: LatoLight

.team
    height: auto
    padding-bottom: 150px
    position: relative
    .team__circle 
        width: 483px
        height: 483px
        border-radius: 50%
        background: #FBFBFB
        box-shadow: 5px 0px 60px rgba(92, 92, 92, 0.18)
        position: absolute
        top: -150px
        left: -231px
        display: flex
        justify-content: center
        align-items: flex-end
        z-index: -1
    .team__circle_small
        background: linear-gradient(153.86deg, #FF4949 -35.46%,   #FF7E46 91.77%)
        box-shadow: 5px 4px 40px rgba(210, 96, 31, 0.44)
        width: 267px
        height: 267px
        border-radius: 50%
        position: absolute
        bottom: -50px
        left: 120px
    & .team--container
        max-width: 85%
        margin: 0 auto
    & .team__title
        text-align: center
        text-transform: uppercase
        color: $colorBlack
        font-family: LatoBold
        font-size: 36px
    & .team__title_gradient
        background: linear-gradient(#47D756, #64C8F3)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
    & .team__desr
        max-width: 650px
        margin: 0 auto
        text-align: center
        margin-top: 20px
        font-size: 18px
        font-family: LatoLight
    & .team__main--container
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-top: 80px
    & .team__item
        width: 25%
        height: 240px
        padding-left: 50px
        padding-right: 20px
        cursor: pointer
        padding-top: 60px
        box-shadow: 0px 4px 30px rgba(84, 84, 84, 0.20)
        border-radius: 20px
        background-color: #fff
        transition: 450ms
        margin-left: 30px
    & .team__arrow
        margin-top: 30px
        transition: 600ms
    & .team__item:hover
        box-shadow: 0px 4px 30px rgba(127, 209, 255, 1)
        & .team__arrow
            width: 120%
    & .team__item_title
        font-family: LatoBold
        text-transform: uppercase
    & .team__item_desr
        margin-top: 15px
        font-family: LatoLight
    & .team__item_arrow
        margin-top: 30px
    & .team__button
        text-align: center
    & .team__button_n
        margin: 0 auto
        width: 180px
        height: 50px
        background-color: red
        border: none
        color: #ffffff
        text-transform: uppercase
        background: linear-gradient(#6F81FC, #A256F3)
        border-radius: 25px
        margin-top: 80px
    & .team__main--container-two
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-top: 30px

.question
    height: auto
    padding-bottom: 100px
    position: relative
    & .question__circle
        width: 542px
        height: 542px
        border-radius: 50%
        background: #FBFBFB
        box-shadow: 0px 0px 30px rgba(40, 40, 40, 0.12)
        position: absolute
        top: -300px
        left: -307px
        display: flex
        justify-content: center
        align-items: center
        z-index: -1
    & .question--container
        max-width: 70%
        margin: 0 auto
    & .question__title
        text-align: center
        text-transform: uppercase
        color: $colorBlack
        font-family: LatoBold
        font-size: 36px
    & .question__title_gradient
        background: linear-gradient(#FC6F6F, #F3BA64)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
    & .question__desr
        max-width: 650px
        margin: 0 auto
        text-align: center
        margin-top: 20px
        font-size: 18px
        font-family: LatoLight
    & .question-form
        display: flex
        justify-content: space-between
        flex-direction: column
        margin-top: 80px
    & .question-form--container
        display: flex
        flex-direction: row
        justify-content: space-between
        width: 100%
    & .question__group
        display: flex
        flex-direction: column
        width: 100%
        margin-left: 15px
        margin-right: 15px
        flex: 1 1 auto
    & .question__group_title
        font-family: LatoBold
        text-transform: uppercase
    input[type="text"],
    input[type="email"],
    input[type="tel"]
          border: none
          border-bottom: 1px solid #C5C5C5
          height: 40px
          color: #C5C5C5
    & .question-form--container-two
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-top: 50px
    & .question__group-texterea
        flex: 5 0 auto
        display: flex
        flex-direction: column
        margin-left: 15px
        margin-right: 15px
    & .question__group--file
        position: relative
        margin: 0 auto
        display: flex
        flex: 1 1 auto
        flex-direction: column
        margin-right: 15px
        margin-left: 15px
        justify-content: center
        align-items: flex-start
        border-bottom: 1px solid #C5C5C5
        & .question__group_input--upload
            position: absolute
            overflow: hidden
            z-index: -1
            width: 0.1px
            height: 0.1px
        & .question__group_title
            border-bottom: 1px solid #C5C5C5
            display: flex
            align-items: center
            margin: 0 auto
        input
            width: 100%
            height: 56px
            text-align: center
        & .question__group_text
            font-family: LatoLight
            display: flex
            align-items: center
            margin: 0 auto

    & .question__group_img
        position: absolute
        left: 15%
    & .question__button
        text-align: center
    & .question__button_n
        margin: 0 auto
        width: 180px
        height: 50px
        background-color: red
        border: none
        color: #ffffff
        text-transform: uppercase
        background: linear-gradient(333.5deg, #6F81FC 0%, #A264F3 108.57%)
        border-radius: 100px
        border-radius: 25px
        margin-top: 80px
        font-family: LatoBold
        letter-spacing: 0.05em
    & .question__right_image
        position: absolute
        top: -180px
        right: 0
        overflow: hidden
        & .question__right_image--circle
            position: absolute
            top: 250px
            width: 103px
            height: 103px
            right: -20%
            overflow: hidden
            background: #FBFBFB
            box-shadow: -10px 0px 30px rgba(40, 40, 40, 0.15)
            border-radius: 50%
.contact
    height: auto
    padding-bottom: 100px
    background: linear-gradient(180deg, #535358 0%, #323239 100%)
    position: relative
    & .contact__figure
        position: absolute
        top: -100px
        & .contact__figure_two
            position: absolute
            top: 50px
            left: 50px

    & .contact--container
        max-width: 85%
        margin: 0 auto
    & .contact__title
        text-align: center
        text-transform: uppercase
        padding-top: 50px
        font-family: LatoBold
        color: #fff
        font-size: 36px
    & .contact__title_gradient
        background: linear-gradient(#7C8CFF, #F476FF)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
    & .contact__desr
        max-width: 650px
        margin: 0 auto
        text-align: center
        margin-top: 20px
        font-size: 18px
        color: #fff
        font-family: LatoLight
    & .contact__main--container
        display: flex
        flex-direction: row
        margin-top: 50px
        justify-content: space-between
    & .contact__item
        display: flex
        flex-direction: column
        width: calc(25% - 2px)
        margin-left: 30px
    & .contact__item_title
        text-transform: uppercase
        color: #ffffff
        font-family: LatoBold
        font-size: 14px
        line-height: 22px
        letter-spacing: 0.02em
        cursor: pointer
        position: relative
    & .contact__item_desr
        color: #ffffff 
        font-weight: 300
        margin-top: 15px
        line-height: 22px
        font-size: 14px
        letter-spacing: 0.02em
        font-family: LatoLight
        max-width: 250px
    & .contact__item_phone
        text-decoration: none
        color: #ffffff
        font-weight: 300
        margin-top: 15px
        line-height: 22px
        font-size: 14px
        letter-spacing: 0.02em
        font-family: LatoLight
    & .contact__item_phone--mt
        text-decoration: none
        color: #ffffff
        font-weight: 300
        margin-top: 38px
        line-height: 22px
        font-size: 14px
        letter-spacing: 0.02em
        font-family: LatoLight
    & .contact__item_email
        text-decoration: none
        color: #ffffff
        font-weight: 300
        line-height: 22px
        font-size: 14px
        letter-spacing: 0.02em
        font-family: LatoLight
    & .contact__item_circle--one
        width: 33px
        height: 33px
        background: linear-gradient(249.68deg, #54BEFF 11.47%,    #704CFF 113.31%)
        border-radius: 50%
        position: absolute
        margin-left: -14px
        margin-top: -3px
    & .contact__item_circle--two
        width: 33px
        height: 33px
        border-radius: 50%
        background: linear-gradient(249.68deg, #F56CE7 11.47%,#797BFA 113.31%)
        position: absolute
        margin-left: -14px
        margin-top: -3px
    & .contact__item_circle--three
        width: 33px
        height: 33px
        border-radius: 50%
        background: linear-gradient(249.68deg, #6CCCF5 11.47%, #79FA86 113.31%)
        position: absolute
        margin-left: -14px
        margin-top: -3px
    & .contact__item_circle--four
        width: 33px
        height: 33px
        border-radius: 50%
        background: linear-gradient(52.77deg, #F56C6C 12.33%, #E76CE2 80.23%)
        position: absolute
        margin-left: -14px
        margin-top: -3px
// slider
.swiper-container 
    width: 100%
    height: 200px
    margin-top: 50px

.swiper-slide 
    text-align: center
    font-size: 18px
    height: 150px
    background: #fff
    /* Center slide text vertically */
    display: -webkit-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    -webkit-box-pack: center
    -ms-flex-pack: center
    -webkit-justify-content: center
    justify-content: center
    -webkit-box-align: center
    -ms-flex-align: center
    -webkit-align-items: center
    align-items: center

.swiper-pagination-bullet
    background: linear-gradient(152.28deg, #6FC1FC 4.84%, #593EFF 104.93%)
    margin-top: 15px

.slider__wordpress:hover
    cursor: pointer
    path 
        fill: #00759D
.slider__joomla:hover
    cursor: pointer
    path
        fill: orange

.slider__drupal:hover
    cursor: pointer
    path
        fill: #03A9F4

.slider__php:hover
    cursor: pointer
    path 
        fill: #8F9ED1

.slider__sql:hover
    cursor: pointer
    path
        fill: blue

.slider__python:hover
    cursor: pointer
    path
        fill: #FFDA44

.slider__java:hover
    cursor: pointer
    path
        fill: #DE0A17

.slider__bitc:hover
    cursor: pointer
    path
        fill: #FEDB41
.slider__django:hover
    cursor: pointer
    fill: green

.slider__react:hover
    cursor: pointer
    path 
        fill: #61dafb

.slider__angular:hover
    cursor: pointer
    path
        fill:#dd0031

.slider__mongo:hover
    cursor: poiner
    path
        fill: #47a248
.slider__unity:hover
    cursor: pointer
    path
        fill: #000
button.slick-next,
button.slick-prev,     
    display: none !important
.icon-arrow_forward
    transition: 1s
    .icon-arrow_forward:hover
        width: 50px

// modal
.specialize__modal_img
    width: 150px
    height: 150px
h3.specialize__modal_title
    margin-top: 15px
    font-family: LatoBold
    text-transform: uppercase
p.specialize__modal_desr
    margin-top: 15px
    font-family: LatoLight
.specialize__modal2_img
    width: 100%
    height: 45%
    position: relative
.mfp-wrap
    overflow: hidden !important
    
#test-modal 
    background: #fff
    width: 25%
    margin: 0 auto
    border-radius: 20px
    & .specialize__modal_img
        width: 100%
        height: 180px
        border-top-left-radius: 20px
        border-top-right-radius: 20px
    & .specialize__modal_title
        padding-left: 30px
        padding-right: 30px
    & .specialize__modal_desr
        padding-left: 30px 
        padding-right: 30px
    & .popup-modal-dismiss
        font-family: LatoBold
        text-transform: uppercase
        cursor: pointer
        text-align: right
        padding: 15px
    & .popup-modal-dismiss:hover
        color: red
#test-modal-2
    background: #fff
    width: 265px
    height: 247px
    margin: 0 auto
    padding: 40px
    border-radius: 20px
    position: relative
    & .modal2__circle
        position: absolute
        width: 23px
        height: 23px
        background: linear-gradient(153.86deg, #FF4949 -35.46%, #FF7E46 91.77%)
        box-shadow: 5px 4px 40px rgba(210, 96, 31, 0.44)
        border-radius: 50%
        left: -10px
        top: -10px
    & .modal2__circle__two
        position: absolute
        width: 42px
        height: 42px
        background: linear-gradient(153.86deg, #4DFF49 -35.46%, #46F4FF 91.77%)
        box-shadow: 5px 4px 40px rgba(31, 210, 135, 0.44)
        border-radius: 50%
        bottom: 0
        right: 0
    & .modal2__circle_three
        position: absolute
        width: 23px
        height: 23px
        background: linear-gradient(153.86deg, #C549FF -35.46%, #FF4694 91.77%)
        box-shadow: 5px 4px 40px rgba(210, 31, 160, 0.44)
        border-radius: 50%
        bottom: 15px
        right: -10px
    & .popup-modal-dismiss
        font-family: LatoBold
        text-transform: uppercase
        cursor: pointer
        text-align: right
    & .popup-modal-dismiss:hover
        color: red
// #modal 
//   background: rgba(0, 0, 0, 0.9)
//   color: #fff
//   position: fixed
//   top: 0vh
//   left: -30vw
//   height: 100vh
//   width: 30vw
//   z-index: 99999999
//   transition: all 0.5s
// .specialize__modal2_title
//     margin-top: 50px
//     font-family: LatoBold
//     text-transform: uppercase
// .specialize__modal2_desr
//     margin-top: 30px
//     font-family: LatoLight
//     line-height: 30px
// #mostrar-modal 
//   display: none

// #mostrar-modal + label 
//   background: steelblue
//   display: table
//   margin: auto
//   color: #fff
//   line-height: 3
//   padding: 0 1em
//   text-transform: uppercase
//   cursor: pointer

// #mostrar-modal + label:hover 
//   background: #38678f

// #mostrar-modal:checked ~ #modal 
//   top: 0
//   left: 0vw
// #mostrar-modal:checked ~ #cerrar-modal + label 
//   display: block

// #cerrar-modal 
//   display: none

// #phonemodal 
//   text-align: center
//   font-size: 23px
//   width: 230px
//   height: 40px
//   background-color: rgb(6, 105, 92)
//   margin-left: -75px
//   left: 50%
//   position: absolute

// #txtmodal
//   font-size: 23px
//   margin-top: 10px
//   text-align: center
//   font-weight: 400

// input 
//     outline: none


// #send 
//   width: 220px
//   height: 55px
//   background-color: yellow
//   position: absolute
//   color: black
//   margin-left: 90px
//   font-size: 21px
//   text-align: center
//   font-weight: 400
//   padding-top: 10px
//   border-radius: 4px
//   margin-top: 330px
//   cursor: ointer


// #blockmodal 
//     width: 400px
//     height: 500px
//     position: absolute
//     top: 50%
//     left: 50%
//     margin-left: -200px

// #cerrar-modal + label 
//   position: fixed
//   top: 1em
//   right: 1em
//   z-index: 9999999999
//   color: rgb(0, 0, 0)
//   font-weight: bold
//   cursor: pointer
//   background: rgb(255, 217, 0)
//   width: 25px
//   height: 25px
//   line-height: 25px
//   text-align: center
//   border-radius: 50%
//   display: none
//   transition: all 0.5s

// #cerrar-modal:checked ~ #modal 
//   top: 0

// #cerrar-modal:checked + label 
//   display: none
// #exit
//     position: absolute
//     top: 10px
//     right: 10px
//     z-index: 5
//     width: 30px
//     height: 30px
//     background: rgba(0, 0, 0, 0.9)
//     display: flex
//     justify-content: center
//     align-items: center
//     border-radius: 50%
//     font-family: LatoBold


/* Hamburger Menu */

.menu-wrapper 
    margin: auto
    width: 30px
    height: 15px
    cursor: pointer
    display: none
    position: absolute
    left: 30px
    top: 18px
.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before 
    width: 30px
    height: 3px


.hamburger-menu 
    position: relative
    transform: translateY(6px)
    background: #000
    transition: all 0ms 300ms


.hamburger-menu.animate 
    background: rgba(255, 255, 255, 0)


.hamburger-menu:before 
    content: ""
    position: absolute
    left: 0
    bottom: 6px
    background: #000
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1)


.hamburger-menu:after 
    content: ""
    position: absolute
    left: 0
    top: 6px
    background: #000
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1)


.hamburger-menu.animate:after 
    top: 0
    transform: rotate(45deg)
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1)


.hamburger-menu.animate:before 
    bottom: 0
    transform: rotate(-45deg)
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1)
